.footer {
  width: 100%;                /* ocupa todo el ancho */
  background: #6aa6ff;
  padding: 12px 25px;
  text-align: center;         /* centra el texto */
  color: white;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  margin-top: auto;           /* empuja el footer hacia abajo */
}


.footer-text,
.footer-copy {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

