.diarios-paciente-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}

.diario-card-psico {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  background: #fafafa;
}

.diario-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.descripcion {
  margin-top: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 13px;
  color: #555;
}

.fecha {
  text-align: right;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

.sin-diarios {
  text-align: center;
  color: #777;
}
