.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav-logo img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-logo span {
    font-size: 20px;
    font-weight: bold;
}


.navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

.navbar-links a { 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: 0.2s ease;
}

.navbar-links a:hover {
    color: #0077ff;
}

.navbar-links li {
    display: inline-block;
}


.user-btn {
    background: #e9f2ff;
    border: none;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.user-btn:hover {
    background: #d6e8ff;
}
