#DivGeneral{
width: 100%;
background-color: #4CAF50;

}
.AdminSolicitudes {
  padding: 20px;

}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-approve {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reject {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
